body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-lato: Lato;
    --font-inter: Inter;
    --font-inria-serif: "Inria Serif";
    --font-istok-web: "Istok Web";
    --font-joti-one: "Joti One";
    --font-raleway: Raleway;
    --font-literata: Literata;
    --font-poetsenone: PoetsenOne;
    --font-racing-sans-one: "Racing Sans One";
  
    /* font sizes */
    --font-size-12xl: 31px;
    --font-size-lgi: 19px;
    --font-size-6xl: 25px;
    --font-size-xl: 20px;
    --font-size-5xl: 24px;
    --font-size-7xl: 26px;
    --font-size-26xl: 45px;
    --font-size-17xl: 36px;
    --font-size-8xl: 27px;
    --font-size-21xl: 40px;
    --font-size-11xl: 30px;
    --font-size-13xl: 32px;
    --font-size-3xl: 22px;
    --font-size-10xl: 29px;
    --font-size-4xl: 23px;
    --font-size-lg: 18px;
    --font-size-15xl: 34px;
    --font-size-2xl: 21px;
    --font-size-mid: 17px;
    --font-size-9xl: 28px;
  
    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-lightsteelblue: #b0c8e0;
    --color-gray-100: #fffdfd;
    --color-gray-200: #8c7b7b;
    --color-gray-300: rgba(33, 27, 27, 0.22);
    --color-gray-400: rgba(0, 0, 0, 0.74);
    --color-dimgray-100: #756d6d;
    --color-dimgray-200: rgba(110, 102, 102, 0.22);
    --color-dimgray-300: rgba(117, 109, 109, 0.74);
    --color-steelblue-100: #65a7e2;
    --color-steelblue-200: #0f599b;
    --color-darkgray-100: #9f9a9a;
    --color-darkgray-200: rgba(159, 154, 154, 0.22);
    --color-indianred-100: #e14e4e;
    --color-forestgreen-100: #0a841e;
    --color-gainsboro-100: #e6e6e6;
    --color-gainsboro-200: #d9d9d9;
    --color-cornflowerblue: #459cea;
    --color-rosybrown: #ad8e8e;
    --color-firebrick: #d03e3e;
    --color-powderblue-100: #bae3dc;
    --color-azure: #dcefec;
  
    /* Gaps */
    --gap-2xl: 21px;
    --gap-21xl: 40px;
    --gap-14xl: 33px;
    --gap-18xl: 37px;
    --gap-3xl: 22px;
    --gap-32xl: 51px;
    --gap-xl: 20px;
    --gap-13xl: 32px;
    --gap-54xl: 73px;
    --gap-12xl: 31px;
    --gap-4xl: 23px;
    --gap-8xl: 27px;
    --gap-sm: 14px;
    --gap-15xl: 34px;
    --gap-24xl: 43px;
    --gap-44xl: 63px;
    --gap-35xl: 54px;
    --gap-xs: 12px;
    --gap-302xl: 321px;
    --gap-4xs: 9px;
    --gap-23xl: 42px;
    --gap-10xl: 29px;
    --gap-65xl: 84px;
    --gap-52xl: 71px;
    --gap-59xl: 78px;
    --gap-30xl: 49px;
    --gap-33xl: 52px;
    --gap-61xl: 80px;
    --gap-39xl: 58px;
    --gap-26xl: 45px;
    --gap-6xs: 7px;
    --gap-base: 16px;
    --gap-27xl: 46px;
    --gap-5xl: 24px;
    --gap-9xs: 4px;
    --gap-lg: 18px;
    --gap-smi: 13px;
    --gap-19xl: 38px;
    --gap-48xl: 67px;
    --gap-25xl: 44px;
    --gap-43xl: 62px;
    --gap-34xl: 53px;
    --gap-85xl: 104px;
    --gap-28xl: 47px;
    --gap-46xl: 65px;
    --gap-42xl: 61px;
  
    /* Paddings */
    --padding-37xl: 56px;
    --padding-xl: 20px;
    --padding-28xl: 47px;
    --padding-5xs: 8px;
    --padding-mini: 15px;
    --padding-2xl: 21px;
    --padding-34xl: 53px;
    --padding-16xl: 35px;
    --padding-10xs: 3px;
    --padding-4xs: 9px;
    --padding-5xl: 24px;
    --padding-3xs: 10px;
    --padding-122xl: 141px;
    --padding-15xl: 34px;
    --padding-7xl: 26px;
    --padding-6xs: 7px;
    --padding-3xl: 22px;
    --padding-8xl: 27px;
    --padding-52xl: 71px;
    --padding-9xl: 28px;
    --padding-12xs: 1px;
    --padding-xs: 12px;
    --padding-17xl: 36px;
    --padding-21xl: 40px;
    --padding-sm: 14px;
    --padding-25xl: 44px;
    --padding-base: 16px;
    --padding-18xl: 37px;
    --padding-mid: 17px;
    --padding-8xs: 5px;
    --padding-14xl: 33px;
    --padding-24xl: 43px;
    --padding-56xl: 75px;
    --padding-49xl: 68px;
    --padding-51xl: 70px;
    --padding-7xs: 6px;
    --padding-4xl: 23px;
    --padding-90xl: 109px;
    --padding-638xl: 657px;
    --padding-19xl: 38px;
    --padding-11xs: 2px;
    --padding-22xl: 41px;
    --padding-50xl: 69px;
    --padding-26xl: 45px;
    --padding-549xl: 568px;
    --padding-265xl: 284px;
    --padding-123xl: 142px;
    --padding-smi: 13px;
    --padding-13xl: 32px;
    --padding-27xl: 46px;
    --padding-lg: 18px;
    --padding-20xl: 39px;
    --padding-lgi: 19px;
    --padding-47xl: 66px;
    --padding-2xs: 11px;
    --padding-9xs: 4px;
    --padding-36xl: 55px;
    --padding-11xl: 30px;
    --padding-145xl: 164px;
  
    /* Border radiuses */
    --br-31xl: 50px;
    --br-11xl: 30px;
    --br-base: 16px;
    --br-5xs: 8px;
    --br-xs: 12px;
    --br-7xl: 26px;
    --br-29xl: 48px;
    --br-44xl: 63px;
    --br-34xl: 53px;
    --br-50xl: 69px;
    --br-10xl: 29px;
    --br-7xs: 6px;
  }