body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-literata: Literata;
  --font-lato: Lato;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-11xl: 30px;
  --font-size-5xl: 24px;
  --font-size-12xl: 31px;

  /* Colors */
  --color-white: #fff;
  --color-indianred: #e14e4e;

  /* Gaps */
  --gap-xl: 20px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-5xl: 24px;
  --padding-4xl: 23px;
  --padding-27xl: 46px;
  --padding-8xs: 5px;
  --padding-10xs: 3px;

  /* Border radiuses */
  --br-44xl: 63px;
}
