.image-23-icon1,
.image-25-icon {
  position: relative;
  object-fit: cover;
}
.image-23-icon1 {
  align-self: stretch;
  width: 115px;
  max-height: 100%;
  display: none;
  min-height: 185px;
}
.image-25-icon {
  height: 34px;
  flex: 1;
  position: relative;
  width: 120px;
  bottom: -121px;
  left: -42px;
  z-index: 2;
}
.frame-b {
  width: 115px;
  margin: 0 !important;
  position: absolute;
  top: -100px;
  left: 246px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url(./public/frame-b@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.image-22-icon1,
.image-83-icon {
  position: relative;
  object-fit: cover;
}
.image-22-icon1 {
  align-self: stretch;
  width: 111px;
  max-height: 100%;
  display: none;
  min-height: 128px;
}
.image-83-icon {

  flex: 1;
  max-width: 100%;
  overflow: hidden;
  z-index: 2;
  height: 75px;
  width: 94px;
  bottom: 15px;
  left: -16px;
}
.frame-e {
  width: 111px;
  margin: 0 !important;
  position: absolute;
  bottom: -9px;
  left: 126px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url(./public/frame-e@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
  height: 75px;
  width: 94px;
}
.vector-icon-cog-child {
  height: 127px;
  width: 1920px;
  position: relative;
  background-color: var(--color-steelblue-100);
  display: none;
  max-width: 100%;
}
.home1 {
  flex: 1;
  position: relative;
  text-decoration: underline;
  text-transform: uppercase;
}
.home {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.home-button-text {
  width: 129px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-mini) 0 0;
  box-sizing: border-box;
}
.feed {
  width: 95px;
  height: 41px;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.frames-feed-explore {
  width: 99px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.contact {
  align-self: stretch;
  height: 41px;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
  cursor: pointer;
  z-index: 1;
}
.frame-assessments {
  width: 164px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.explore1 {
  width: 145px;
  height: 41px;
  position: relative;
  text-transform: uppercase;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.frames-feed-explore1 {
  width: 192px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-8xs);
  box-sizing: border-box;
}
.vector-icon {
  width: 53px;
  height: 53px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  
    width: 32px;
    height: 32px;
}
.text-caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.icon-cog,
.vector-vector-icon,
.vector-vector-icon1 {
  height: 35px;
  width: 35px;
  /* top: 20px; */
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.icon-cog,
.vector-vector-icon1 {
  height: 54px;
  height: 35px;
  width: 35px;
}
.icon-cog {
  height: 50.9px;
  width: 50px;
  height: 35px;
  width: 35px;
}
.start-learning-button {
  width: 317px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-a,
.frame-d,
.vector-icon-cog {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.vector-icon-cog {
  flex: 1;
  background-color: var(--color-steelblue-100);
  align-items: center;
  justify-content: center;
  padding: var(--padding-15xl) var(--padding-xl) var(--padding-18xl) 567px;
  box-sizing: border-box;
  gap: var(--gap-44xl);
}
.frame-a,
.frame-d {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.frame-a {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 7vh;
}
.dr-apj-abdul,
.education-is-the {
  height: 76px;
  text-transform: capitalize;
  display: flex;
  align-items: flex-end;
}
.education-is-the {
  flex: 1;
  position: relative;
  font-weight: 500;
  max-width: 100%;
  font-size: 28px;
  bottom: 10px;
}
.dr-apj-abdul {
  width: 421px;
  position: absolute;
  margin: 0 !important;
  right: -193px;
  bottom: -25px;
  font-size: var(--font-size-5xl);
  z-index: 1;
}
.assessment-frame,
.study-image-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.study-image-frame {
  flex: 1;
  justify-content: flex-start;
  position: relative;
  flex-shrink: 0;
}
.assessment-frame {
  width: 1345px;
  height: 57px;
  justify-content: flex-end;
  padding: 0;
  box-sizing: border-box;
}
.image-82-icon {
  width: 70px;
  height: 70px;
  position: absolute;
  margin: 0 !important;
  top: -35px;
  right: 38px;
  object-fit: cover;
  z-index: 2;
}
.content-frame,
.question-frame {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.question-frame {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 4px solid var(--color-darkgray-200);
  flex-direction: column;
  align-items: center;
  padding: 0 var(--padding-xl);
  position: relative;
  min-height: 115px;
}
.content-frame {
  width: 1696px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-mid);
  width: 1473px;
}
.assesments {
  height: 36px;
    flex: 1;
    position: relative;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
    font-size: 25px;
    text-align: center;
    left: 24px;
    bottom: 19px;
}
.question-label-frame {
  width: 284px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-18xl);
  box-sizing: border-box;
}
.image-73-icon {
  height: 213px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.image-frame1,
.start-learning-frame {
  display: flex;
  justify-content: flex-start;
}
.start-learning-frame {
  width: 284px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-sm) 0 0;
  box-sizing: border-box;
}
.image-frame1 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 4px solid var(--color-darkgray-200);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-7xl) var(--padding-base) 77px 31px;
  gap: var(--gap-sm);
}
.regular-assessments-boosts {
  height: 76px;
  flex: 1;
  position: relative;
  text-transform: capitalize;
  display: flex;
  align-items: flex-end;
  bottom: 15px;
}
.regular-assessment-text-frame {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 4px solid var(--color-darkgray-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-sm) var(--padding-3xs) var(--padding-21xl)
    var(--padding-25xl);
  font-size: 18px;
}
.assessment-label-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  min-width: 260.84px;
  max-width: 100%;
  height: 445px;
  max-width: 260.84px;
}
.start-learning {
  height: 74px;
  width: 323px;
  position: relative;
  text-transform: uppercase;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  max-width: 108%;
  font-size: 25px;
    left: 74px;
    bottom: 32px;
}
.unlock-potential-image-frame {
  width: 299px;
  height: 59px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.image-74-icon {
  height: 179px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  bottom: -31px;
}
.learning-frame,
.learning-material-frame {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.learning-frame {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-21xl);
}
.learning-material-frame {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 4px solid var(--color-darkgray-200);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  height: 306px;
}
.dive-deep-into {
  height: 22px;
  flex: 1;
  position: relative;
  text-transform: capitalize;
  display: flex;
  align-items: flex-end;
}
.study-material-frame {
  align-self: stretch;
    height: 121px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 4px solid var(--color-darkgray-200);
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding: var(--padding-9xl) var(--padding-3xs) var(--padding-9xl) var(--padding-17xl);
    /* font-size: var(--font-size-5xl); */
    font-size: 18px;
}
.explore-button-frame,
.question-of-the-day-frame {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.question-of-the-day-frame {
  flex-direction: column;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  gap: 11px;
  min-width: 260.84px;
  height: 460px;
  max-width: 260.84px;
}
.explore-button-frame {
  flex-direction: row;
  gap: var(--gap-24xl);
  min-width: 469px;
  text-align: left;
}
.image-24 {
  position: absolute;
  top: 141px;
  left: 188px;
  width: 115px;
  height: 56px;
  display: none;
}
.question-of-the {
  height: 35px;
    width: 330px;
    position: relative;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
    /* justify-content: center; */
    flex-shrink: 0;
    max-width: 100%;
    font-size: 25px;
    bottom: 15px;
}
.image-76-icon {
  height: 162px;
  width: 223px;
  position: absolute;
  margin: 0 !important;
  bottom: 53px;
  left: 18px;
  object-fit: cover;
  z-index: 2;
}
.click-here-frame {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 4px solid var(--color-darkgray-200);
  box-sizing: border-box;
  width: 260.84px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-34xl) var(--padding-12xs) var(--padding-34xl) 0;
  min-height: 311px;
  /* height: 100%; */
  max-width: 100%;
  z-index: 1;
  height: 310px;
}

.blank-line1,
.unlock-your-potential {
  margin: 0;
}
.unlock-your-potential {
  margin: 0;
  font-size: 18px;
}
.unlock-your-potential-container1 {
  width: 100%;
}
.unlock-your-potential-container {
  width: 243px;
    height: 156px;
    position: relative;
    text-transform: capitalize;
    display: flex;
    align-items: flex-end;
    z-index: 1;
    top: -52px;
    left: 22px;

}
.blank-line2,
.blank-line3 {
  margin: 0;
}
.unlock-frame-txt-container {
  line-break: anywhere;
  width: 100%;
}
.unlock-frame,
.update-frame {
  display: flex;
  align-items: flex-end;
}
.unlock-frame {
  width: 311px;
  height: 87px;
  position: relative;
  text-transform: capitalize;
  margin-top: -135px;
}
.update-frame {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 4px solid var(--color-darkgray-200);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
  max-width: 100%;
}
.curated-pages-frame,
.knowledge-blooms-connectivity {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.curated-pages-frame{
  margin-left: -50px;
}
.knowledge-blooms-connectivity {
  align-self: stretch;
  height: 121px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-5xl);
}
.curated-pages-frame {
  width: 257px;
  flex-direction: column;
  gap: var(--gap-sm);
}
.study-material {
  position: absolute;
  top: 19px;
  left: 0;
  text-transform: uppercase;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 330px;
  height: 36px;
  font-size: 25px;
  left: -35px;
  top: 5px;
}
.image-80-icon {
  position: absolute;
  top: 35px;
  left: 52px;
  width: 205px;
  height: 205px;
  object-fit: cover;
  left: 21px;
}
.knowledge-blooms-frame {
  height: 310px;
  flex: 1;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 4px solid var(--color-darkgray-200);
  box-sizing: border-box;
  overflow: hidden;
  min-width: 260.84px;
  max-width: 100%;
  max-width: 260.84px;
}
.connect {
  width: 330px;
  height: 36px;
  position: relative;
  text-transform: uppercase;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  max-width: 100%;
  font-size: 24px;
  top: -18px;
}
.image-79-icon {
  height: 224px;
  width: 220px;
  position: relative;
  object-fit: cover;
  top: -30px;
}
.image-79-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-3xs);
}
.knowledge-blooms-frame1,
.study-connect-frame {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.knowledge-blooms-frame1 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 4px solid var(--color-darkgray-200);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-2xl) var(--padding-12xs) var(--padding-8xl) 0;
  gap: var(--gap-12xl);
  min-width: 260.84px;
  max-width: 260.84px;
  height : 307px;
}
.study-connect-frame {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-24xl);
}
.blank-line4,
.knowledge-blooms-in {
  margin: 0;
}
.knowledge-blooms-in {
  margin: 0;
  font-size: 18px;
    width: 200px;
}
.knowledge-blooms-in-container1 {
  width: 100%;
}
.knowledge-blooms-in-container {
  width: 311px;
  height: 116px;
  position: relative;
  text-transform: capitalize;
  display: flex;
  align-items: flex-end;
  z-index: 1;
  left: 66px;
  top:-10px;
}
.curated-pages-connection {
  height: 102px;
  width: 286px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;    height: 85px;
}
.vector-frame {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 4px solid var(--color-darkgray-200);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-9xl) 0 0;
  min-width: 220px;
  max-width: 100%;
}
.blank-line5,
.connectivity-sparks-infinite {
  margin: 0;
}
.connectivity-sparks-infinite {
  margin: 0;
  font-size: 18px;
}
.connectivity-sparks-infinite-container {
  align-self: stretch;
  position: relative;
  text-transform: capitalize;
  top: -62px;
  left: -10px;
}
.connectivity-sparks-infinite-p-wrapper {
  height: 22px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-bx;
}
.vector-frame1 {
  flex: 0.7221;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 4px solid var(--color-darkgray-200);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 var(--padding-8xl) 0 65px;
  /* min-width: 220px; */
  min-height: 120px;
  /* max-width: 100%; */
  width: 50px;
}
.connect-image {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-15xl);
  text-align: left;
  font-size: var(--font-size-5xl);
}
.connect-image,
.feedback-frame,
.study-material-image-connect {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.connect-image{
  gap:46px;
}
.study-material-image-connect {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-sm);
  min-width: 469px;
}
.feedback-frame {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 41px;
  text-align: center;
  font-size: var(--font-size-12xl);
  font-family: var(--font-lato);
}
.line-element-child {
  height: 3px;
  width: 185px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.line-element {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-52xl);
  box-sizing: border-box;
  max-width: 100%;
}
.click-here-to {
  width: 421px;
  height: 76px;
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  max-width: 100%;
}
.new-updates {
  width: 145px;
  position: absolute;
  margin: 0 !important;
  top: -17px;
  left: 121px;
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--font-lato);
  color: #e26565;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
}
.clickable-update-rectangle {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 4px solid var(--color-darkgray-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-3xl) var(--padding-28xl);
  position: relative;
  gap: var(--gap-8xl);
  max-width: 100%;
}
.image-71-icon1 {
  width: 29px;
  height: 29px;
  position: absolute;
  margin: 0 !important;
  right: 235px;
  bottom: 0;
  object-fit: cover;
}
.quiz-frame,
.study-material-connect,
.updates-frame1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.updates-frame1 {
  flex: 1;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 201px;
}
.quiz-frame,
.study-material-connect {
  align-items: flex-start;
}
.study-material-connect {
  width: 829px;
  flex-direction: row;
  padding: 0 var(--padding-8xl);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
}
.quiz-frame {
  position: absolute;
  top: 52px;
  left: 20px;
  width: 1867px;
  flex-direction: column;
  gap: 36px;
}
.image-81-icon {
  position: absolute;
  top: 696px;
  left: 918px;
  width: 597.3px;
  height: 256px;
  object-fit: cover;
  z-index: 2;
}
.vector-container-child,
.vector-container-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
}
.vector-container-item {
  z-index: 1;
}
.rectangle-icon,
.vector-container-child1,
.vector-container-child2,
.vector-container-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
  z-index: 2;
}
.rectangle-icon,
.vector-container-child1,
.vector-container-child2 {
  z-index: 3;
}
.vector-container-child1,
.vector-container-child2 {
  z-index: 4;
}
.vector-container-child2 {
  z-index: 5;
}
.vector-container-child3,
.vector-container-child4,
.vector-container-child5,
.vector-container-child6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
  z-index: 6;
}
.vector-container-child4,
.vector-container-child5,
.vector-container-child6 {
  z-index: 7;
}
.vector-container-child5,
.vector-container-child6 {
  z-index: 8;
}
.vector-container-child6 {
  z-index: 9;
}
.vector-container-child10,
.vector-container-child7,
.vector-container-child8,
.vector-container-child9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
  z-index: 10;
}
.vector-container-child10,
.vector-container-child8,
.vector-container-child9 {
  z-index: 11;
}
.vector-container-child10,
.vector-container-child9 {
  z-index: 12;
}
.vector-container-child10 {
  z-index: 13;
}
.vector-container-child11,
.vector-container-child12,
.vector-container-child13,
.vector-container-child14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
  z-index: 14;
}
.vector-container-child12,
.vector-container-child13,
.vector-container-child14 {
  z-index: 15;
}
.vector-container-child13,
.vector-container-child14 {
  z-index: 16;
}
.vector-container-child14 {
  z-index: 17;
}
.vector-container-child15,
.vector-container-child16,
.vector-container-child17,
.vector-container-child18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
  z-index: 18;
}
.vector-container-child16,
.vector-container-child17,
.vector-container-child18 {
  z-index: 19;
}
.vector-container-child17,
.vector-container-child18 {
  z-index: 20;
}
.vector-container-child18 {
  z-index: 21;
}
.vector-container-child19,
.vector-container-child20,
.vector-container-child21,
.vector-container-child22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
  z-index: 22;
}
.vector-container-child20,
.vector-container-child21,
.vector-container-child22 {
  z-index: 23;
}
.vector-container-child21,
.vector-container-child22 {
  z-index: 24;
}
.vector-container-child22 {
  z-index: 25;
}
.vector-container-child23,
.vector-container-child24,
.vector-container-child25,
.vector-container-child26 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
  z-index: 26;
}
.vector-container-child24,
.vector-container-child25,
.vector-container-child26 {
  z-index: 27;
}
.vector-container-child25,
.vector-container-child26 {
  z-index: 28;
}
.vector-container-child26 {
  z-index: 29;
}
.vector-container-child27,
.vector-container-child28,
.vector-container-child29,
.vector-container-child30 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
  z-index: 30;
}
.vector-container-child28,
.vector-container-child29,
.vector-container-child30 {
  z-index: 31;
}
.vector-container-child29,
.vector-container-child30 {
  z-index: 32;
}
.vector-container-child30 {
  z-index: 33;
}
.vector-container-child31,
.vector-container-child32,
.vector-container-child33,
.vector-container-child34 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
  z-index: 34;
}
.vector-container-child32,
.vector-container-child33,
.vector-container-child34 {
  z-index: 35;
}
.vector-container-child33,
.vector-container-child34 {
  z-index: 36;
}
.vector-container-child34 {
  z-index: 37;
}
.vector-container-child35,
.vector-container-child36,
.vector-container-child37,
.vector-container-child38 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
  z-index: 38;
}
.vector-container-child36,
.vector-container-child37,
.vector-container-child38 {
  z-index: 39;
}
.vector-container-child37,
.vector-container-child38 {
  z-index: 40;
}
.vector-container-child38 {
  z-index: 41;
}
.vector-container-child39,
.vector-container-child40,
.vector-container-child41,
.vector-container-child42 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
  z-index: 42;
}
.vector-container-child40,
.vector-container-child41,
.vector-container-child42 {
  z-index: 43;
}
.vector-container-child41,
.vector-container-child42 {
  z-index: 44;
}
.vector-container-child42 {
  z-index: 45;
}
.vector-container-child43,
.vector-container-child44,
.vector-container-child45,
.vector-container-child46 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
  z-index: 46;
}
.vector-container-child44,
.vector-container-child45,
.vector-container-child46 {
  z-index: 47;
}
.vector-container-child45,
.vector-container-child46 {
  z-index: 48;
}
.vector-container-child46 {
  z-index: 49;
}
.vector-container-child47,
.vector-container-child48,
.vector-container-child49,
.vector-container-child50 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
  z-index: 50;
}
.vector-container-child48,
.vector-container-child49,
.vector-container-child50 {
  z-index: 51;
}
.vector-container-child49,
.vector-container-child50 {
  z-index: 52;
}
.vector-container-child50 {
  z-index: 53;
}
.vector-container-child51,
.vector-container-child52,
.vector-container-child53,
.vector-container-child54 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
  z-index: 54;
}
.vector-container-child52,
.vector-container-child53,
.vector-container-child54 {
  z-index: 55;
}
.vector-container-child53,
.vector-container-child54 {
  z-index: 56;
}
.vector-container-child54 {
  z-index: 57;
}
.vector-container-child55,
.vector-container-child56,
.vector-container-child57,
.vector-container-child58 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
  z-index: 58;
}
.vector-container-child56,
.vector-container-child57,
.vector-container-child58 {
  z-index: 59;
}
.vector-container-child57,
.vector-container-child58 {
  z-index: 60;
}
.vector-container-child58 {
  z-index: 61;
}
.vector-container-child59,
.vector-container-child60,
.vector-container-child61,
.vector-container-child62 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
  z-index: 62;
}
.vector-container-child60,
.vector-container-child61,
.vector-container-child62 {
  z-index: 63;
}
.vector-container-child61,
.vector-container-child62 {
  z-index: 64;
}
.vector-container-child62 {
  z-index: 65;
}
.vector-container-child63,
.vector-container-child64,
.vector-container-child65,
.vector-container-child66 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
  z-index: 66;
}
.vector-container-child64,
.vector-container-child65,
.vector-container-child66 {
  z-index: 67;
}
.vector-container-child65,
.vector-container-child66 {
  z-index: 68;
}
.vector-container-child66 {
  z-index: 69;
}
.vector-container-child67,
.vector-container-child68,
.vector-container-child69,
.vector-container-child70 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
  z-index: 70;
}
.vector-container-child68,
.vector-container-child69,
.vector-container-child70 {
  z-index: 71;
}
.vector-container-child69,
.vector-container-child70 {
  z-index: 72;
}
.vector-container-child70 {
  z-index: 73;
}
.vector-container-child71 {
  display: none;
  z-index: 74;
}
.vector-container-child71,
.vector-container-child72,
.vector-container-child73 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.vector-container-child72 {
  display: none;
  z-index: 75;
}
.vector-container-child73 {
  cursor: pointer;
  z-index: 76;
}
.vector-container {
  position: absolute;
  top: 0;
  left: 1902px;
  width: 11px;
  height: 305px;
}
.rectangle-question {
  align-self: stretch;
  height: 952px;
  position: relative;
  max-width: 100%;
  font-size: var(--font-size-13xl);
  font-family: var(--font-raleway);
}
.main-frame1 {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-12xl);
  color: var(--color-black);
  font-family: var(--font-lato);
}
.image-23-icon1 {
  /* align-self: stretch; */
  width: 114px;
 bottom: -46px;
 left:-43px;
  max-height: 100%;
  /* object-fit: cover; */
  min-height: 37px;
  display: none;
}
.image-25-icon {
  height: 42px;
  flex: 1;
  position: relative;
  width: 120px;
  bottom: -115px;
  left: -41px;
  z-index: 2;
}
.updates-frame {
  align-self: stretch;
  height: 308px;
  position: relative;
  max-width: 100%;
  min-width: 260.84px;
}
@media screen and (max-width: 1050px) {
  .vector-icon-cog {
    gap: var(--gap-44xl);
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .assesments,
  .connect,
  .connectivity-sparks-infinite-container,
  .dive-deep-into,
  .dr-apj-abdul,
  .education-is-the,
  .knowledge-blooms-in-container,
  .question-of-the,
  .regular-assessments-boosts,
  .start-learning,
  .study-material,
  .unlock-frame,
  .unlock-your-potential-container {
    font-size: var(--font-size-lgi);
  }
  .vector-frame1 {
    flex: 1;
  }
  .click-here-to,
  .new-updates {
    font-size: var(--font-size-lgi);
  }
}
@media screen and (max-width: 750px) {
  .vector-icon-cog {
    padding-left: 283px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .vector-icon-cog {
    gap: var(--gap-44xl);
    padding-left: var(--padding-122xl);
    box-sizing: border-box;
  }
  .education-is-the {
    font-size: var(--font-size-7xl);
  }
  .assesments,
  .start-learning {
    font-size: var(--font-size-6xl);
  }
  .explore-button-frame {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .connect,
  .question-of-the,
  .study-material {
    font-size: var(--font-size-6xl);
  }
  .study-connect-frame {
    flex-wrap: wrap;
  }
  .vector-frame1 {
    min-height: auto;
  }
  .connect-image {
    flex-wrap: wrap;
  }
  .study-material-image-connect {
    min-width: 100%;
  }
}
